@model webapp.Models.formClass
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <style>
            .myform{
              border: 2px outset black;
              background-color: white  ;
              text-align: center;
              font-family: Arial;
  
            }

            .myforma {
              font-size: large;
            }
        </style>
        <meta name="viewport" content="width=device-width" />
        <title>Form</title>
    </head>
    <body>
        <div class="myform" >
                <h1 class="display-4">Simple form</h1>

            <form asp-action="form" method="post">
                <div  class="myforma">
                    <label asp-for="Name" class="" >Your name:</label>
                    <input asp-for="Name" />
                </div>
                <div class="myforma">
                    <label asp-for="Email">Your email:</label>
                    <input asp-for="Email" />
                </div>
                <div>
                   <p></p>
                <button type="submit">Submit form</button>
                 <p></p>
            </div>

            </form>
        </div>
    </body>
</html>