@page
@using webapp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";


}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form>
        <input type="text" id="input-username" name="username" placeholder="username" />
        <input type="text" id="input-password" name="password" placeholder="password" />
        <input type="submit" value="Submit" />
    </form>


</div>